@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.questrial {
  font-family: var(--font-questrial);
}

.poppins {
  font-family: var(--font-poppins);
}

.oswald {
  font-family: var(--font-oswald);
}

.josefin_sans{
  font-family: var(--font-josefin-sans);
}

.dela_gothic_one {
  font-family: var(--font-dela-gothic-one);
}