@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EEEEEE;
  --foreground: #0C090A;
  --second-white: #DDDDDD;
  --sage: #B7B78A;
  --green: #658864;
  --dark-green: #3A473A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EEEEEE;
    --foreground: #0C090A;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.questrial {
  font-family: var(--font-questrial);
}

.poppins {
  font-family: var(--font-poppins);
}

.oswald {
  font-family: var(--font-oswald);
}

.oswald_card_title {
  font-family: var(--font-oswald);
  margin-bottom: 13px;
}

.josefin_sans{
  font-family: var(--font-josefin-sans);
}

.josefin_sans_dropdowns {
  font-family: var(--font-josefin-sans);
  margin-bottom: -8px;
}

.dela_gothic_one {
  font-family: var(--font-dela-gothic-one);
}

nav a {
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  color: var(--green);
}

nav a:last-child {
  background-color: var(--green);
  color: white;
  border-radius: 0.375rem;
}

nav a:last-child:hover {
  background-color: rgba(101, 136, 100, 0.8);
  text-decoration: none;
}

.title-card {
  color: var(--green);
}

.title-card:hover {
  color: rgba(101, 136, 100, 0.8);
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  gap: 3rem;
}

.text-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.image-content {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-items: center;
}

.image-content img {
  max-width: 300px;
  height: auto;
}

.dashboard-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.first-card, .second-card {
  background-color: var(--second-white);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.first-card h3 {
  color: var(--dark-green)
}

.second-card h3 {
  color: var(--dark-green)
}

.first-card {
  width: 40%;
}

.second-card {
  width: 60%;
}

.uniform-width-aqi-dropdown {
  width: 230px;
}
